.login-wrapper {
	@extend .wrapper;
	
	height:100%;
	min-height:400px;
	display:flex;
	align-items: center;
    justify-content: center;
}

.login-content {
	
	h2 {
		margin-top:0;
	}
	
	input[type="text"],
	input[type="password"] {
		width:100%;
		box-sizing:border-box;
	}
}