.site-content {
	min-height: "calc(100vh - %s - %s)" % (footer_height header_height);
	position:relative;
	overflow:hidden;
	display:flex;
	flex-direction:column;
}
	
.site-content__standard-wrapper {
	@extend .wrapper;
	padding-top:2em;
	padding-bottom:2em;
}

.site-content__centered-wrapper {
	display:flex;
	align-items: center;
    justify-content: center;
    flex:1;
    padding:2em 0;
}