.site-content {
	min-height: "calc(100vh - %s - %s)" % (footer_height header_height);
	position:relative;
	overflow:hidden;
	display:flex;
	flex-direction:column;
	

	&__standard-wrapper {
		@extend .wrapper;
		padding-top:3em;
		padding-bottom:3em;
	}
		
	&__centered-wrapper {
		display:flex;
		align-items: center;
	    justify-content: center;
	    flex:1;
	    padding:2em 0;
	}
}
