.site-content {
	height: "calc(100vh - %s - %s)" % (footer_height header_height);
	overflow:hidden;
	min-height:400px;
	position:relative;
}

.site-content__centered-wrapper {
	height:100%;
	display:flex;
	align-items: center;
    justify-content: center;
}