 
body {
	font-size:font-size;
	font-family:base-font-family;
	background:#F5F3F0;
	overflow-y:hidden;
}


.wrapper {
	max-width:80em;
	padding:0 1.5em;
	margin:0 auto;
}

#app-root {
	min-height: "calc(100vh - %s)" % (footer_height);
}


::-webkit-selection,
::selection {
	background: #b3d4fd;
    color: #000;
    text-shadow: none;
}