.template-list-wrapper {
	@extend .site-content__standard-wrapper;
}

.create-template-button {
	@extend .button;
	margin-bottom:1.5em;
	
	+bp(1) {
		float:right;
		margin-top:1.5em;
	}
}

.template-list-title {
	
	+bp(1) {
		float:left;
	}
}

.template-list {
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
	border-top:2px solid rgba(0, 0, 0, 0.2);
	
	
	&:empty:before {
		margin:2em 0;
		display:block;
		content:"You have no templates.";
	}
}

.template-list-item {
	&__link {
		display:block;
		
		margin-bottom:1px;
		padding:0.8em 1.2em;
		text-decoration:none;
		font-weight:bold;
		font-size:1.1em;
		border-bottom:1px solid rgba(0, 0, 0, 0.2);
		
		&:hover {
			background:white;
		}
		
		&:active {
			opacity:0.75;
		}
	}
	
	&__title {
		
		&:empty {
			font-style:italic;
			
			&:before {
				content:"No title specified";
			}
		}
	}
}