.template-select-wrapper {
	@extend .site-content__centered-wrapper;
}


.template-select {
	font-family:fancy-font-family;
	
	h1 {
		font-weight:lighter;
	}
}

.template-select__select {
	padding:1em;
	box-sizing:border-box;
	width:100%;
	margin-bottom:0.5em;
}

.template-select__start {
	width:100%;
	font-size:1.4em;
}

.template-select__private {
	font-size:1.4em;
	margin:0.5em 0;
	text-align:center;
}