.game-bar {
	height:6em;
	line-height:5em;
	border-top:1px solid rgba(0, 0, 0, 0.1);
	box-sizing:border-box;

	&__invite {
		float:left;
	}
	
	&__invite-url {
		color:brandcolor;
		margin-left:0.3em;
	}

	&__connected {
		float:right;
	}
}