font-size = 16px
base-font-family = "Lato", sans-serif
fancy-font-family = "freight-text-pro", sans-serif


brandcolor = #4CC88C;
uicolor = #EEE


header_height = 4.6rem
footer_height = 4.6rem

breakpoints = 30em 46em 64em 73em 85em;